.Login {
  margin: 40px auto;
}
.Login-link {
  margin-bottom: 20px;
}
.Login-link a {
  color: #123456;
}
.Login a {
  border-top: 2px solid #123456;
  padding-top: 20px;
  display: inline-block;
  width: 100%;
}
