.About {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;*/
  /*background-color: #f1f1f1;
  border: 2px solid pink;*/
  width: 64%;
  margin: 25px auto;
}
.About a {
  color: #20343f;
}
.About a:hover {
  color: #1692a2;
}
.About > p {
  color: #1692a2;
  width: 80%;
}
h1 {
  color: #e9316d;
  margin-bottom: 30px;
}
h2,
.About p {
  color: #2373a6;
}
ol {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
ol > li {
  color: #3d87b5;
}
#About-workout {
  margin-top: 100px;
  color: #e9316d;
}
strong {
  margin-right: 10px;
  display: block;
}
.About-highlight {
  font-weight: bold;
  color: #e9316d;
}
.About-rating {
  font-weight: bold;
}
.About section {
  margin-bottom: 30px;
}
.About-plus {
  color: forestgreen;
  font-weight: bold;
}
.About-X {
  color: #e9316d;
  font-weight: bold;
}
