.auth {
  border: 3px solid snow;
  border-radius: 8px;
  text-align: center;
  width: 50%;
  margin: 30px 30px;
  padding: 100px 20px;
}
.auth a {
  color: #36f1cd;
}
.auth a:hover {
  color: snow;
}
.Auth-container {
  background-color: #4c6085;
  width: 70%;
  padding: 30px;
  border-radius: 8px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

#profile {
  margin-top: 100px;
}
.Auth-link {
  margin: 0 10px;
}
/*responsive desing */
@media screen and (max-width: 480px) {
  .auth {
    width: 90%;
    margin: 30px 5px;
    padding: 50px 10px;
  }
  .Auth-container {
    width: 90%;
    padding: 10px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }
  .Auth-link {
    margin: 0 5px;
  }
}
