main {
  background-color: #4c6085;
  width: 66%;
  padding: 30px;
  border-radius: 8px;
  margin: 40px auto 20px;
  display: flex;
  justify-content: space-around;
}
li {
  color: snow;
}

.choices li:hover {
  color: pink;
  cursor: pointer;
}

/*responsive desing */
@media screen and (max-width: 480px) {
  main {
    width: 90%;
    display: block;
  }
  .choices {
    width: 100%;
  }
  section {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 3px solid snow;
  }
}
