.rating {
  display: inline-block;
  width: 50%;
  height: 40px;
  border: 3px solid gold;
}
#btn-rating {
  border-radius: 50%;
}
.video-wrapper {
  position: relative;
  display: inline-block;
  margin: 50px;
}

/* The save '+' and delete 'X' anchor tag */
.delete-video {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}
.add-playlist {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: green;
  color: gold;
  padding: 2px 6px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}
/* Show '+' or 'X' when the iframe is hovered */
.video-wrapper:hover .delete-video,
.video-wrapper:hover .add-playlist {
  display: block;
}

.select-dropdown {
  width: 100%; /* Adjust as needed */
  max-width: 300px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 12px;
  margin: 30px 50px 50px;
}

.select-dropdown:hover {
  background-color: #f9fafb; /* Light gray on hover */
}

.select-dropdown:focus {
  outline: none;
  border-color: #12bdce; /* Blue focus border */
  box-shadow: 0 0 0 2px #12bdce;
}

.option-item {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fff;
}

.option-item:hover {
  background-color: #f3f4f6; /* Light hover effect */
}
