.Profile-two-containers {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  margin: 60px auto;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center; /* Center content vertically */
  background-color: #4c6085;
}

.Profile-container-info {
  background-color: #4c6085;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  border-bottom: 2px solid gold;
}
.Profile-container-edit-delete {
  background-color: #4c6085;
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: space-evenly; /* Center content vertically */
  border: 2px solid snow;
  border-radius: 5px;
}
.Profile-heading {
  color: gold;
  margin: 0 auto 50px;
  padding: 0;
}
#Profile-profile {
  margin-top: 20px;
}
.user {
  color: #36f1cd;
}
.btn-edit,
.btn-delete {
  font-size: 1rem;
  padding: 8px 15px;
  font-size: 1.5rem;
  margin: 8px 0;
  color: snow;
}

.Profile-h3 {
  color: snow;
  margin-top: 50px;
}

.Profile-bestvideos {
  width: 70%;
}
