.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* save and delete anchor button on top right corner of video */
.video-wrapper {
  position: relative;
  display: inline-block;
  margin: 50px;
}
.add-video {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: green;
  color: white;
  padding: 2px 6px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}

/*responsive desing */
@media screen and (max-width: 480px) {
  .add-video {
    top: 5px;
    right: 55px;
  }
}
